* {
    margin: 0px;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

h1 {
    font-size: 1.5em;
	color:black;
	opacity:.9;
}

h2 {
    font: bold 14px Tahoma;
    background-color: rgb(0, 0, 0);
    opacity: .8;
    padding: .5em;
    margin-bottom: .7em;
    /*margin-left:auto;
    margin-right:auto;*/
    width: 90%;
    color: white;


    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
}

h3 {
font: bold 1em Tahoma;
    color: #bcbcbb ;

}

h4 {
width:80%;
margin-left:auto;
    margin-right:auto;
}

a {
    color: black;
    text-decoration: none;
	
}

    a:hover,
    a:focus {
        color: #2a6496;
        text-decoration: none;
    }

    a:focus {
        outline: thin dotted #333;
        outline: 5px -webkit-focus-ring-color;
        outline-offset: -2px;
    }

hr{
display: block; height: 1px;
    border: 0; border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0; padding: 0; 
	
	 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	
	
}

body {
    width: 100%;
    margin: 0;

    
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  color: #333;

    display: -moz-box; /* Firefox */
    display: -webkit-box; /* Safari and Chrome */
    display: -ms-flexbox; /* Internet Explorer 10 */
    -webkit-box-pack: end;


  
}


header {

/* background-color:#000; */
opacity:1;

    padding: 1%;
   /*  background-color: #0B243B ; */
	background-color:#464541;
    padding-top: 2%;
    width: 100%;
    position: fixed;
    z-index: 100;
	
	
	 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#navigation {
    top: 0;
    margin-top: 0;
    float: right;
    width: 35%;
}


#logo {
    float: left;
    padding-left: 1%;
	
	width: 60%;
}

#nav {
    float: right;
    margin-right: 8%;
    font-size: 1.3em;
    top: 0;
}

.nav-item {
    padding: 0px 5px;
	font-weight:700;
}

#profileImage {
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.imageProfile {
    width: 10em;
    height: 10em;
    top: 0;
    float: left;
    margin-bottom: -0.7em;
}

.imageProfileHide {
    width: 0em;
    height: 0em;
    top: 0;
    float: left;
}

#divSpan a {
  color: #ebe8d9;
}

.spanShow {
    padding-top: 0.5em;
    
}

.spanHide {
    width: 100%;
}

.headerLink {
    display:block;
    margin:.1em .0em;
    padding: .2em;
    background-color: rgba(0,0,0,.85);
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius: 0.2em;
    color: #ebe8d9;

}



    .headerLink:hover  {
       
        background-color: rgba(0,0,0,.45);

    }



.spanHide a{
   display:inline-block;
    margin:.1em .0em;


}


.shadow {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}


form {
    width: 100%;
    margin: 0px 0px;

   
         display: -webkit-box;
    -webkit-box-orient: vertical;
    -ms-orient: vertical;
    


    -ms-flex: 50;
    /*height: 100%;*/
}

section {
    text-align: center;
    position: absolute;
    padding-top: 13%;
    width: 100%;
    /*background: #ebe8d9;*/
    /* background-color:#f5f5f2; */
background-color:#fbfaf7;
     display: -webkit-box;
    -webkit-box-orient: vertical;
    -ms-orient: vertical;
    
}

.subSection {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

#divProjects {

    
    
}
   
#divProjects h2{
    margin-left:auto;
    margin-right:auto;
}
#divSkills {

          width:80%;
    
}

#myProjects {
    padding: 2em;
    /*display: -webkit-box;
    -webkit-box-orient: horizontal;
    -ms-orient: horizontal;*/

    margin-left:auto;
    margin-right:auto;
}


.singleProject {
    width: 16em;
    height: 16em;
    position: relative;
    display: inline-block;
    margin: 0em 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	
	
}

.singleProject1 {
    width: 15em;
    height: 16em;
    position: relative;
    display: inline-block;
    margin: 0em 1em;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 3px 3px 15px 5pxx rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
}

.imgProjects {
    width: 16em;
    height: 16em;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    z-index: -1;
}


.overlay {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    background-color: rgba(0,0,0,.25);
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;

    font-weight:600;
	
    
}

#infoProjects {
    top: 0;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

.projectHeder {
    padding: 1em;
    
    background-color: rgba(0,0,0,.65);
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: white;
}

#mswHeader {
    /*-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
}




.projectHed {
    position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 2.5em;
    background-color: rgba(0,0,0,.65);
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    font-weight: 900;
    color: white;
}

.projectHedHover {
    height: 2.5em;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.65);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    font-weight: 900;
    color: white;
}


header ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0;
    transition: all 400ms;
}

    header ul li {
        display: inline;
        width: 100%;
        text-align: center;
    }

        header ul li a {
            text-decoration: none;
            padding: .2em 1em;
            color: #000000;
        }

            header ul li a:hover {
                color: #ebe8d9;
            }





.projectLink {
    margin: .1em;
    padding: .3em;
    background-color: rgba(0,0,0,.85);
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    color: white;
}

/*#divAbout {
    width:90%;
    padding:2em;
    
    display:block;
    margin-left:auto;
    margin-right:auto;
    
}*/

#aboutMe {
    padding: 2em 5em;
    /*  background: #ebe8d9; */
	 border:1px solid rgba(0, 0, 0, 0.1);
	     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 01px 01px 0px rgba(0, 0, 0, 0.3);
}

#divImage {
    width: 15em;
    height: 30em;
    
    float: left;
    margin-right: 2em;
	border:1px solid rgba(0, 0, 0, 0.1);
	 -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 01px 01px 3px 0px rgba(0, 0, 0, 0.3);
}

#myImage {
    width: 12em;
}

#basicInfo {
    text-align: left;
    padding-top: 1em;
    margin-left: 17em;
    width: 55%;
}

.personalInfo {
    text-align: left;
    padding-top: 2em;
    margin-left: 17em;
    width: 55%;
}



footer {
    padding: 2em;
    text-align: center;
    background-color: #fbfaf7;
    bottom:0;
    margin-top:125em;
}


#logo span {
    display: inline-block;
    font-size: .7em;
    padding: .4em;
    background-color: #d3d0c3;
    margin: 0.2em 0.2em;
    border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
}

.iconImg {
    width: 1em;
    height: 1em;
    margin: 0 .3em;
}

.iconImgClass {
    display: block;
    margin: .2em .4em;
    vertical-align: central;
}

    /*.iconImgClass :hover {
        text-align: left;
    }*/

.skills {
    background-color: rgba(0,0,0,.35);
    /*background-color:#f5f5f2;*/
    /*background: #ebe8d9;*/
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

    text-align: left;
    padding: 0 1em;
    margin-top: 2em;

    webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.3);


  
}

    .skills h2 {
            padding-right:0em;
            margin: 0em 0em 1em -1em;
            width:100%;
           
    
    }

#personalSkills {
    float: left;
    width: 30%;
   min-height: 15em;
     /* border:1px solid #c3c3c3; */
}

#profesionalSkills {
    float: right;
    width: 60%;
    min-height: 15em;
   
}

.current {
    color: #fbfaf7;
}


